.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.mySwiper {
  justify-content: center;
  align-items: center;
}
.swipItem {
  text-align: center;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail {
  margin: 2rem 0;
}
